logs
*.log
.DS_Store
npm-debug.log*
node_modules
.nyc_output
coverage
coverage.*

# cache
.cache
.turbo


#
# addon
#
# node-gyp
/build/
*.node

# prebuild
/prebuilds
.prebuildrc

# bear -- node-gyp rebuild
compile_commands.json

demo/
dist/
